/GoalsBackend/node_modules
/GoalsBackend/public/build
/GoalsBackend/public/hot
/GoalsBackend/public/storage
/GoalsBackend/storage/*.key
/GoalsBackend/vendor
/GoalsBackend/.env
/GoalsBackend/.env.backup
/GoalsBackend/.env.production
/GoalsBackend/.phpunit.result.cache
/GoalsBackend/Homestead.json
/GoalsBackend/Homestead.yaml
/GoalsBackend/auth.json
/GoalsBackend/npm-debug.log
/GoalsBackend/yarn-error.log
/GoalsBackend/.fleet
/GoalsBackend/.idea
/GoalsBackend/.vscode
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*