/GoalsBackend/node_modules
/GoalsBackend/public/build
/GoalsBackend/public/hot
/GoalsBackend/public/storage
/GoalsBackend/storage/*.key
/GoalsBackend/vendor
/GoalsBackend/.env
/GoalsBackend/.env.backup
/GoalsBackend/.env.production
/GoalsBackend/.phpunit.result.cache
/GoalsBackend/Homestead.json
/GoalsBackend/Homestead.yaml
/GoalsBackend/auth.json
/GoalsBackend/npm-debug.log
/GoalsBackend/yarn-error.log
/GoalsBackend/.fleet
/GoalsBackend/.idea
/GoalsBackend/.vscode
